/* This file contains utility classes for global styles */
:root {


}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

/* Base Container */
.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
/* Small Devices*/
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
/* Medium Devices*/
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/*Large Devices*/

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* Extra Large Devices */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2XL Devices */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/*Some other utility class*/
.text-center {
    text-align: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

